html,
body
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif
  overflow: hidden

input
  padding: 3px
  font-size: 14px
  margin: 0px 10px 0px 0px
  border: none
  outline: none
  background: none
  border-bottom: 1px solid white
  //border-top-left-radius: 5px
  //border-top-right-radius: 5px
  transition: background .4s ease-out
  color: white

  //&:focus
    //background: white

button
  border: none
  outline: none
  background: none
  border-bottom: 1px solid white
  height: 27px
  font-size: 14px
  color: white
  cursor: pointer
  padding: 3px 6px 3px 6px
