html,
body
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif
  overflow: hidden

.container
  absPos(top: 0, right: 0, bottom: 0, left: 0)
  overflow: hidden

.menu
  absPos(top: 0, bottom: 0, left: -300px)
  width: 300px
  oveflow-y: auto
  background: subtleGreen
  transition: left .2s ease-out
  &.menu-open
    left: 0px

input
  padding: 3px
  font-size: 14px
  margin: 0px 10px 0px 0px
  border: none
  outline: none
  background: none
  border-bottom: 1px solid white
  color: white


button
  border: none
  outline: none
  background: none
  border-bottom: 1px solid white
  height: 28px
  font-size: 14px
  color: white
  cursor: pointer
  padding: 3px 6px 3px 6px


::-webkit-input-placeholder
  color: lightMediumGray
:-moz-placeholder
  color: lightMediumGray 
::-moz-placeholder
  color: lightMediumGray
:-ms-input-placeholder
  color: lightMediumGray
