.search-container {
  .abs-pos(0, 0, 0, 0);
  overflow: hidden;
}
.search-bar {
  .abs-pos(@top: 0, @right: 0, @left: 0);
  height: 50px;
  background-image: linear-gradient(top, @white, @light-gray);
  border-bottom: 1px inset @light-medium-gray;
}
.search-input {
  width: 33%;
  .abs-pos(@top: 15px, @left: 15px);
}
.search-input:focus {
  background: none;
}

.search-logout-btn {
  .abs-pos(@top: 12px, @right: 15px);
  font-size: 20px;
}

.search-results-container {
  .abs-pos(51px, 0, 0, 0);
  padding: 0px;
  margin: 0px;
  overflow: auto;
  cursor: pointer;
}

.search-result-patient {
  height: 30px;
  border-bottom: 1px inset @light-medium-gray;
  padding: 5px;
}
.search-patient-picture {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 1px solid @light-medium-gray;
  background: url(../images/UserIcon.png) 0px 2px no-repeat; 
  margin: 5px 0 0 10px;
}
.search-patient-name {
  float: left;
  margin: 7px 0 0 10px;
  font-size: 16px;
}
.search-patient-details {
  float: right;
  height: 30px;
  width: 40%;
  margin-right: 10px;
  text-align: right;
  font-size: 13px;
  color: @light-medium-gray;
  transition: color .1s ease-out;
}
.search-result-patient:hover {
  .search-patient-details {
    color: @medium-gray;
  }
}

