
.login
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-image: linear-gradient(top, white, lightGray)

.login-form
  position: absolute
  top: 40%
  height: 30px
  width: 525px
  padding-left: 125px

  input
    font-size: 18px

  button
    font-size: 17px
