&.search-container
  absPos(0, 0, 0, 0)
  overflow: hidden
  background-image: linear-gradient(to bottom, startBlue, endBlue)
  background-color: startBlue

.bar
  absPos(top: -51px, right: 0px, left: 0px)
  height: 50px
  background-image: linear-gradient(to bottom, searchStart, searchEnd)
  border-bottom: 1px inset lightMediumGray
  transition: top .3s ease-out
  &.is-visible
    top: 0px;

.off-canvas-btn
  absPos(top: 10px, left: 5px)
  width: 30px
  height: 30px
  background-image: url('../images/burger.svg')
  background-position: 2px 6px
  background-repeat: no-repeat
  background-size: 25px
  border: none

.search-input
  width: 260px
  absPos(top: 15px, left: 45px)
  

  &:focus
    background: none

.search-clear
  width: 14px
  height: 14px
  absPos(top: 21px, left: 295px)
  border-radius: 7px
  background-image: url('../images/white-x.svg')
  background-position: 2px 3px
  background-repeat: no-repeat
  background-size: 8px
  color: white
  border: none
  
  &.is-hidden
    display: none

.logout-btn
  absPos(top: 12px, right: 15px)
  font-size: 20px

.results-container
  absPos(51px, 0, 0, 0)
  padding: 0px
  margin: 0px
  overflow: auto
  cursor: pointer

.search-result-patient
  height: 30px
  border-bottom: 1px inset lightMediumGray
  padding: 5px
  background: searchResult

.search-patient-picture
  float: left
  height: 20px
  width: 20px
  border-radius: 10px
  border: 1px solid darkGray
  background: lightGray url('../images/UserIcon.png') 0px 2px no-repeat 
  margin: 5px 0 0 10px

.search-patient-name
  float: left
  margin: 7px 0 0 10px
  font-size: 16px

.search-patient-details
  float: right
  height: 30px
  width: 40%
  margin-right: 10px
  text-align: right
  font-size: 13px
  color: mediumGray
  transition: color .1s ease-out

.search-result-patient:hover .search-patient-details
  color: black
